# Core
zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility

# Prompt
zmodule duration-info
zmodule git-info
zmodule minimal

# Completion
zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Enhanced
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

# Extras
zmodule prompt-pwd
zmodule pabloariasal/zfm
zmodule Aloxaf/fzf-tab
zmodule pacman

# FZF
source fzf.zsh
