* {
  font-family:
    "JetBrains Mono Nerd Font";
  font-size: 15px;
  font-weight: bold;
  transition: background-color 0.3s ease-out;
}
window#waybar {
  background: rgba(20, 20, 28, 0.95);
  color: #c0caf5;
  font-family:
    SpaceMono Nerd Font,
    feather;
}
.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 0;
  padding: 0;
}
#bluetooth {
  font-size: 16px;
  padding: 0 4px;
}
#custom-updates,
#idle_inhibitor,
#clock,
#battery,
#network,
#pulseaudio {
  padding: 0 4px;
  background: transparent;
  border-radius: 0;
}
#custom-updates:hover,
#bluetooth:hover,
#custom_updates:hover,
#idle_inhibitor:hover,
#clock:hover,
#battery:hover,
#network:hover,
#pulseaudio:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
#workspaces {
  padding: 0 4px;
}
#workspaces button {
  background: transparent;
  color: #c0caf5;
  border: none;
  border-radius: 0;
  padding: 0 8px;
}
#workspaces button.active {
  color: #7aa2f7;
  border-bottom: 2px solid #7aa2f7;
}
#workspaces button:hover {
  color: #cdd6f4;
}
