@define-color color-base #1a1b26;
@define-color transparent rgba(0, 0, 0, 0);
@define-color color-success #9ece6a;
@define-color color-border #414868;
@define-color color-danger #f7768e;
@define-color color-accent #7aa2f7;
@define-color color-text #c0caf5;

* {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

window {
  margin: 0px;
  padding: 4px;
  border: 1px solid @color-border;
  background-color: @color-base;
}

#inner-box, #outer-box {
  margin: 2px;
  padding: 4px;
  border: none;
}

#scroll {
  display: none;
}

#input {
  margin: 8px 14px;
  padding: 4px;
  border: none;
  font-size: 16px;
  color: @color-text;
  background-color: rgba(70, 75, 90, 0.6);
}

#input:focus {
  background-color: rgba(70, 75, 90, 0.8);
  box-shadow: 0 0 0 2px rgba(122, 162, 247, 0.2);
}

#input image {
  order: none;
  color: @color-accent;
  -gtk-icon-source: -gtk-icontheme("system-search");
}

#text {
  margin: 2px 4px;
  border: none;
  color: @color-text;
}

#entry {
  background-color: @transparent;
  padding: 2px 4px;
}

#entry:selected {
  background-color: rgba(122, 162, 247, 0.15);
}

#entry:selected #text {
  color: @color-accent;
}

#entry:drop(active) {
  background-color: @color-accent !important;
}

